<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	
	<link href="/stylesheets/style.css" rel="stylesheet">
	
  </head>
  <body>
	<div class="grid">
		<% body.map.grid.forEach(function(column) { 
			column.reverse();
		%>
			<div class="column">
			<% column.forEach(function(tile) { %>
				<div class="tile"<% if(tile.node) { %> style="background-color: #<%= tile.node.info.color %>" <% } %>><div class="value"><% if(tile.node) { %><%= tile.node.info.type %><% } %></div><span class="coordinates"><%= tile.x %>,<%= tile.y %></span></div>
			<% }); %>
			</div>
		<% }); %>
	</div>
  </body>
</html>