/* Memory City stylesheet
by @Jwaxo */

/* Basic Grid Setup */
.grid  {
	position: relative;
	width: 1100px;
	height: 1100px;
}

.grid .row {
	position: relative;
}

.grid .tile{
	float: left;
	width: 98px;
	height: 98px;
	border: 1px solid #000;
}