/* Memory City stylesheet
by @Jwaxo */

/* Basic Grid Setup */
.grid  {
	position: relative;
}

.grid .column {
	position: relative;
	float: left;
    border-left: 1px solid #000;
}

.grid .tile{
	width: 35px;
	height: 35px;
	border-bottom: 1px solid #000;
}

.grid .tile h1 {
    margin: 0;
    font-size: 12px;
}

.grid .coordinates {
    display: none;
}