/* Memory City stylesheet
by @Jwaxo */

/* Basic Grid Setup */
.grid  {
	position: relative;
}

.grid .column {
	position: relative;
	float: left;
    border-left: 1px solid #000;
}

.grid .tile{
	width: 35px;
	height: 35px;
	border-bottom: 1px solid #000;
    overflow: visible;
    position: relative;
}

.grid .tile h1 {
    margin: 0;
    font-size: 12px;
}

.grid  .value {
    position: absolute;
    background-color: #fff;
    width: 50px;
    z-index: 50;
 }

.grid .coordinates {
    display: none;
}